## Exercise 1: Write a function to sort the list based on the first letter of the second element

In [125]:
lst_1=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [130]:
lst_1

[(4887871, 'Alabama'),
 (39865590, 'California'),
 (1420491, 'Hawaii'),
 (19542209, 'New York'),
 (626299, 'Vermont'),
 (1805832, 'West Virginia')]

In [127]:
lst_1.sort(key=lambda x:x[1])

In [139]:
for code,country in lst_1:
    print(code,country)

4887871 Alabama
39865590 California
1420491 Hawaii
19542209 New York
626299 Vermont
1805832 West Virginia

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

In [140]:
lst_2=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original list",lst_2)

def srt_lst1(lst1_1):  
    lst1_1.sort(key = lambda x: x[1][::-1])  
    return lst1_1 

print("Sorted list ",srt_lst1(lst_2))

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list  [(1805832, 'West Virginia'), (39865590, 'California'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

In [141]:
new_lst=list(map(lambda i: (i),srt_lst1(lst_2)))

[(1805832, 'West Virginia'),
 (39865590, 'California'),
 (4887871, 'Alabama'),
 (1420491, 'Hawaii'),
 (19542209, 'New York'),
 (626299, 'Vermont')]

In [145]:
new_lst.sort(key=lambda x:x[1][-1:])
for code,country in new_lst:
    print(code,country)

4887871 Alabama
39865590 California
1805832 West Virginia
1420491 Hawaii
19542209 New York
626299 Vermont

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

In [9]:
D_3 = ['Energy','Agriculture','Industry','Technology','Finance','Forestry','Transport']
index = [1,2,3,4,5,6,7]
with_index = list(zip(D_3,index))
print(with_index)

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

In [59]:

L_3 = ['Energy','Agriculture','Industry','Technology','Finance','Forestry','Transport']
index = [1,2,3,4,5,6,7]

list(map(lambda i,j: (i,j),L_3,index))

[('Energy', 1),
 ('Agriculture', 2),
 ('Industry', 3),
 ('Technology', 4),
 ('Finance', 5),
 ('Forestry', 6),
 ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's)

In [134]:
D_4 =["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
vowels = ['a','A']
hal = [i for i in D_4 for k in i if k in vowels]


count={}
for x in hal:
    if x in count.keys():
        count[x]+=1
    else:
        count[x]=1
print(count)

{'Antartica': 3, 'America': 2, 'Armania': 3, 'Australia': 3, 'Albania': 3, 'Afganistan': 3, 'Alaska': 3}

## Exercise 5: Write a function filter all the vowels in a given string using filter

In [61]:
str1="Inceptz is one of the best institutes to read data science in chennai"
str1

'Inceptz is one of the best institutes to read data science in chennai'

In [63]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
fil = [i for i in str1 for k in i if k in vowels]
fil

['I',
 'e',
 'i',
 'o',
 'e',
 'o',
 'e',
 'e',
 'i',
 'i',
 'u',
 'e',
 'o',
 'e',
 'a',
 'a',
 'a',
 'i',
 'e',
 'e',
 'i',
 'e',
 'a',
 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

In [65]:
lst6=[5, 6, 7 , 8, 9, 10, 12, 14]

def square(x):
    return x*x
lst6_1= list(map(square,lst6))
lst6_1

[25, 36, 49, 64, 81, 100, 144, 196]

In [67]:
def grt_60(grt):
    return grt > 60
list(filter(grt_60,lst6_1))

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as input and use reduce to make it a sentence

Inceptz

provides

the

best

inclass

trainings

and

is

the

best

In [136]:
from functools import reduce
d_7=["Inceptz","provides","the","best","inclass","trainings","and","is","the","best"]

def sum_int(i,j):
    return i+' ' +j
word_lst = reduce(sum_int,d_7)
print(word_lst)

Inceptz provides the best inclass trainings and is the best