In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

import matplotlib.pyplot as plt

import seaborn as sns

In [5]:
df=pd.read_csv(r"C:\Users\Admin1\Downloads\COVID-19 Cases.csv")

C:\Users\Admin1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,0,0,2/3/2020,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.8182,8.2275,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
1,Deaths,NaN,0,0,3/1/2020,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.1264,33.4299,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
2,Confirmed,NaN,23,0,4/21/2020,Antigua and Barbuda,Antigua and Barbuda,NaN,NaN,AG,ATG,NaN,17.0608,-61.7964,97928.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
3,Deaths,NaN,0,0,2/11/2020,Jamaica,Jamaica,NaN,NaN,JM,JAM,NaN,18.1096,-77.2975,2961161.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
4,Confirmed,NaN,0,0,2/6/2020,Belize,Belize,NaN,NaN,BZ,BLZ,NaN,17.1899,-88.4976,397621.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [7]:
df.columns

Index(['Case_Type', 'People_Total_Tested_Count', 'Cases', 'Difference', 'Date',
       'Combined_Key', 'Country_Region', 'Province_State', 'Admin2', 'iso2',
       'iso3', 'FIPS', 'Lat', 'Long', 'Population_Count',
       'People_Hospitalized_Cumulative_Count', 'Data_Source',
       'Prep_Flow_Runtime'],
      dtype='object')

In [8]:
df.shape

(718080, 18)

In [12]:
df.rename(columns={'Province_State':'State','Country_Region':'Country'},inplace=True)

In [21]:
covid=df[["Date","State","Country","Case_Type","Cases"]]

In [22]:
covid.dropna()

,Date,State,Country,Case_Type,Cases
6,5/2/2020,"Bonaire, Sint Eustatius and Saba",Netherlands,Deaths,0
8,4/13/2020,Bermuda,United Kingdom,Deaths,5
9,4/29/2020,New Caledonia,France,Confirmed,18
11,4/9/2020,Manitoba,Canada,Deaths,3
12,2/19/2020,Tibet,China,Deaths,0
...,...,...,...,...,...
718075,1/22/2020,Georgia,US,Confirmed,0
718076,1/22/2020,Oklahoma,US,Deaths,0
718077,1/22/2020,Wisconsin,US,Deaths,0
718078,1/22/2020,Indiana,US,Confirmed,0
718079,1/22/2020,North Dakota,US,Confirmed,0

In [25]:

covid.groupby('Country').Cases.mean()

Country
Afghanistan           168.112745
Albania                99.588235
Algeria               456.897059
Andorra               119.745098
Angola                  3.843137
                         ...
West Bank and Gaza     58.686275
Western Sahara          0.754902
Yemen                   0.264706
Zambia                 11.000000
Zimbabwe                4.156863
Name: Cases, Length: 186, dtype: float64

In [29]:
covid.groupby('Case_Type').Cases.describe()

              count        mean          std  min  25%  50%  75%       max
Case_Type
Confirmed  359040.0  223.902376  3917.009576  0.0  0.0  0.0  4.0  216582.0
Deaths     359040.0   14.535935   408.006418  0.0  0.0  0.0  0.0   28710.0

In [33]:
covid.groupby('Country').Cases.mean()

Country
Afghanistan           168.112745
Albania                99.588235
Algeria               456.897059
Andorra               119.745098
Angola                  3.843137
                         ...
West Bank and Gaza     58.686275
Western Sahara          0.754902
Yemen                   0.264706
Zambia                 11.000000
Zimbabwe                4.156863
Name: Cases, Length: 186, dtype: float64

In [ ]:
#plotting the initial horaizontal barchart 
fig, ax = plt.subplots(figsize=(15, 8))
ax.barh(covid['Country'], covid['Cases'])
plt.xlabel('Number of Cases')
plt.ylabel('Country')

In [ ]:
covid