Exercise 1: NumPy: Create an array with values ranging from 12 to 38

In [1]:
import numpy as np

In [2]:
array=np.arange(12,38)

In [3]:
array

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37])

Exercise 2: Add a border around an existing array

In [12]:
arr2=np.ones((3,3))
arr2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [11]:
arr2_2 = np.pad(arr2,pad_width=1,mode='constant')
print("0 on the border and 1 inside in the array","\n",arr2_2)

0 on the border and 1 inside in the array
 [[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

Exercise 3: Convert a list and tuple into arrays

In [11]:
lst3 = [1,2,3,4,5,6,7,8]
print("List to array:\n",np.asarray(lst3))


tuple = (8,4,6,1,2,3)

tarr = print("Tuple to array\n",np.asarray(tuple).reshape(2,3))
tarr

List to array:
 [1 2 3 4 5 6 7 8]
Tuple to array
 [[8 4 6]
 [1 2 3]]

Exercise 4: Convert the values of Centigrade degrees into Fahrenheit degrees

In [17]:
f_t4 = np.array([ 0.,   12.,   45.21, 34.,   99.91])
print("Values in Fahrenheit degrees:\n",f_t4)
c_t4 = np.array((f_t4 - 32)*(5/9))
print("Values in  Centigrade degrees:\n",c_t4)

# c_t4 = np.array((f_t4 - 32)*1.8)

Values in Fahrenheit degrees:
 [ 0.   12.   45.21 34.   99.91]
Values in  Centigrade degrees:
 [-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

Exercise 5: Write a NumPy program to find the number of elements of an array, length of one array element in bytes and total bytes consumed by the elements.

In [18]:
d_5 = np.array([1,2,3],dtype ='float')
print("Size of the array: ", d_5.size)
print("Length of one array element in bytes: ", d_5.itemsize)
print("Total bytes consumed by the elements of the array: ",d_5.nbytes)



# Size of the array:  3
# Length of one array element in bytes:  8
# Total bytes consumed by the elements of the array:  24

Size of the array:  3
Length of one array element in bytes:  8
Total bytes consumed by the elements of the array:  24

Exercise 6: Get the unique elements of an array

In [26]:
d_6 = np.array([10, 10, 20, 20, 30, 30])
print("Original array:\n",d_6)
print("Unique elements of the above array:\n",np.unique(d_6))
# d_6_1 = np.array([[1, 1], [2, 3]])

d_6_1 = [1, 1, 2, 3]
print("Original array:\n",np.asarray(d_6_1).reshape(2, 2))
print("Unique elements of the above array:\n",np.unique(d_6_1))

Original array:
 [10 10 20 20 30 30]
Unique elements of the above array:
 [10 20 30]
Original array:
 [[1 1]
 [2 3]]
Unique elements of the above array:
 [1 2 3]

Exercise 7: Change the dimension of an array

In [30]:
# Original array: [1 2 3 4 5 6 7 8 9]
d_7=np.arange(1,10)
print("Original array:",d_7)
print("Change array shape to (3, 3) -> 3 rows and 3 columns\n",d_7.reshape(3,3))

Original array: [1 2 3 4 5 6 7 8 9]
Change array shape to (3, 3) -> 3 rows and 3 columns
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

Exercise 8: Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive

In [33]:
D_8=np.linspace(2.5,6.5,30)
print(D_8)

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

Exercise 9: Convert 1-D arrays as columns into a 2-D array

In [45]:
Array1=np.array([10, 20, 30])
Array2=np.array([40, 50, 60])
print("Array1",Array1)
print("Array2",Array2)
c_a=np.stack((Array1,Array2),axis=1)
print("Converted array\n",c_a)

Array1 [10 20 30]
Array2 [40 50 60]
Converted array
 [[10 40]
 [20 50]
 [30 60]]

Exercise 10: Create a 5x5 matrix with row values ranging from 0 to 4

In [52]:
d_10 = np.zeros((5,5))
print("Original array:\n",d_10)
d_10_1=np.arange(5) + d_10
print("Row values ranging from 0 to 4.\n",d_10_1)

Original array:
 [[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
 [[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

Exercise 11: Sum of all the multiples of 3 or 5 below 100

In [65]:
d_11=np.arange(1,100)
d_11_1 = d_11[(d_11%3==0) | (d_11%5==0)]
print(d_11_1)
print(d_11_1.sum())

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

Exercise 12: Combine a one and a two dimensional array together and display their elements

In [81]:
x = np.array([0, 1, 2, 3])
y = np.array(([0, 1, 2, 3],[4, 5, 6, 7]))
print("One dimensional array:\n",x)
print("Two dimensional array:\n",y)
for a, b in np.nditer([x,y]):
    print(str(a)+":"+str(b))
#     print((a)+":"+(b))

One dimensional array:
 [0 1 2 3]
Two dimensional array:
 [[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

Exercise 13: Write a NumPy program to replace all elements of NumPy array that are greater than specified array.

In [88]:
d_13=np.array(([0.42436315, 0.48558583, 0.32924763], [0.7439979,  0.58220701, 0.38213418], [0.5097581,  0.34528799,0.1563123 ]))
print("Original array:\n",d_13)

d_13[d_13 > 0.5 ] = 0.5
print("Replace all elements of the said array with 0.5 which are greater than 0.5\n",d_13)

Original array:
 [[0.42436315 0.48558583 0.32924763]
 [0.7439979  0.58220701 0.38213418]
 [0.5097581  0.34528799 0.1563123 ]]
Replace all elements of the said array with 0.5 which are greater than 0.5
 [[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

Exercise 14: Add a new row to an empty numpy array

In [96]:
d_14=[]
print("Empty array:\n",d_14)
d_14 = np.append(d_14,np.array([10,20,30]),axis=0)
d_14 = np.vstack((d_14, [40,50,60]))
print("After adding two new arrays:\n",d_14)

Empty array:
 []
After adding two new arrays:
 [[10. 20. 30.]
 [40. 50. 60.]]

Exercise 15: Write a NumPy program to join a sequence of arrays along a new axis.

In [105]:
d_15_1 = np.array([1, 2, 3])
d_15_2 = np.array([2, 3, 4])
print("Original arrays: \n",d_15_1,"\n",d_15_2)
print("Sequence of arrays along a new axis:\n",np.vstack((d_15_1,d_15_2)))

d_15_3 = np.array([[1], [2], [3]])
d_15_4 = np.array([[2], [3], [4]])
print("Original arrays:\n",d_15_3,"\n","\n",d_15_4)


print("Sequence of arrays along a new axis:\n",np.vstack((d_15_3,d_15_4)))

Original arrays:
 [1 2 3]
 [2 3 4]
Sequence of arrays along a new axis:
 [[1 2 3]
 [2 3 4]]
Original arrays:
 [[1]
 [2]
 [3]]

 [[2]
 [3]
 [4]]
Sequence of arrays along a new axis:
 [[1]
 [2]
 [3]
 [2]
 [3]
 [4]]